<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta http-equiv="Content-Language" content="fr" />
 <meta name="author" content="Thibaut EHLINGER" />
 <title>
  Login
 </title>
</head>
<body>
<p>
Welcome to <span>E-mobility</span>, the brand new ruby on rails portal!
</p>
<hr />
</body>
</html>
