<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta http-equiv="Content-Language" content="fr" />
 <meta name="author" content="Thibaut EHLINGER" />
 <title>
  Login
 </title>
</head>
<body>
<hr />
	<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <% if user_signed_in? %>
        <h1>Success!</h1>
        <p>You are authentified. You shall now pass in peace.</p>
      <% else %>
        <h1>Welcome!</h1>
	<p>Welcome to <span>E-mobility</span>, the brand new ruby on rails portal!</p>
	<p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
    <% end %>
  </div>
<% end %>
</body>
</html>
